 
  /* Responsive styles */
  @media (max-width: 768px) {
    .back {
        padding-top: 350px;
        padding-left: 40px;
    }
    .back h1 {
      font-size: 24px; /* Reduced font size for smaller screens */
    }
  
    .back h2 {
      font-size: 14px; /* Adjust breadcrumb text for mobile */
    }
  }
  